// text
.text-center { text-align: center; }
.text-right { text-align: right; }

// margins
.m-8 { margin: 8px; }
.m-16 { margin: 16px; }

// paddings
.p-8 { padding: 8px; }
.p-16 { padding: 16px; }

// display
.d-flex { display: flex; }
.d-block { display: block; }

